<?xml version="1.0" encoding="utf-8"?>
<manifest package="tt.richCabman"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_taxi"
        android:label="@string/appName"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="tt.richCabman.activities.FirstScreenActivity"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tt.richCabman.activities.MainActivity"
            android:label="@string/mainScreenName"/>
        <activity
            android:name="tt.richCabman.activities.ShiftTotalsActivity"
            android:label="@string/shiftTotalsScreenName"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="tt.richCabman.activities.GrandTotalsActivity"
            android:label="@string/grandTotalsScreenName"/>
        <activity
            android:name="tt.richCabman.activities.SettingsActivity"
            android:label="@string/settingsScreenName"/>
        <activity
            android:name="tt.richCabman.activities.Settings4ParksAndBillingsActivity"
            android:label="@string/settingsScreenName"/>
        <activity
            android:name="tt.richCabman.activities.MapMyLocationChangeActivity"
            android:label="@string/appName"/>
        <activity
            android:name="tt.richCabman.activities.TaximeterActivity"
            android:label="@string/mainScreenName"/>
        <activity
            android:name="tt.richCabman.activities.RouteActivity"
            android:label="@string/routeMap"/>
        <activity
            android:name="tt.richCabman.activities.SignInActivity"
            android:label="@string/userAccountsScreenName"/>
        <activity
            android:name="tt.richCabman.activities.OrdersListActivity"
            android:label="@string/ordersList"/>

        <service
            android:name="tt.richCabman.services.GPSService"
            android:enabled="true"
            android:exported="true"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>